.highlight {
    background-color: #ffeb3b;
    /* Warna kuning untuk penyorotan */
    font-weight: bold;
    /* Menebalkan teks yang disorot */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.form-control:disabled,
.form-control[readonly] {
    background-color: #ececec;
    opacity: 1;
}

.password {
    cursor: pointer;
}
.password_cp {
    cursor: pointer;
}

.profile {
    width: 2rem !important;
    height: 2rem !important;
}

.modal-profile {
    max-width: 180px;
    height: 100%;
    margin: 0 auto;
}

.form-control {
    color: #000000 !important;
    border: 1px solid #4b4b4b !important;
    border-radius: unset !important;
}

.select2-container--default.select2-container--focus
    .select2-selection--multiple,
.select2-container--default.select2-container--focus
    .select2-selection--single {
    border-color: #000000 !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: unset;
}
.alert-default-secondary {
    color: #1d2022;
    background-color: #f0f0f0;
    border-color: #dddddd;
}
.alert-default-info{
    color: #0c3a52;
    background-color: #d9edf7;
    border-color: #bce8f1;

}
